/* bubble.module.css */
.hoverText {
    transition: 0.35s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    display: inline-block;
}

.hoverText:hover {
    transform: translate(0, -10px) scale(1.3);
    color: #93c5fd;
    /* blue-300 */
    filter: drop-shadow(0 0 10px rgba(147, 197, 253, 0.7));
}