/* src/index.css */
@import "tailwindcss";

@plugin 'tailwindcss-animate';


/* Ensure full height */
html,
body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
   
}

/* Wrapper fills the viewport */
#root {
    min-height: 100%;

}


/* On smaller screens, prevent any user scaling/zooming in inspection views */
@media (max-width: 768px) {
    .inspection-view {
        touch-action: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
}